.logo-header a:hover {
    color: #000000;
    font-size: 55px;
}

.hero-image-funko-pops:hover {
    box-shadow: 5px 5px 10px 10px #ffffff;
}

.hero-text h1:hover, .hero-text p:hover, #category-container-header h1:hover {
    color: #03FFFF;
}

#hero-button a:hover {
    color: #1BBE00;
}

#hero-button:hover {
    box-shadow: 5px 5px 10px 10px #0F6A00;
    width: 300px;
}