/*Menu Code */
#mymenu {
    width: 0;
  }
  
  .menubar {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5c0101;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    font-size: 30px;
    cursor: pointer;
    color: #02FF1B;
  }
  
  .menubar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .menubar {
    font-size: 20px;
    line-height: 22px;
  }

  .menubar img {
    margin-top:  -15px;
    position: absolute;
    right: 45px;
    margin-left: 50px;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* 0. Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    background-color: #800000;
    padding: 10px;
  }
  
  main.page-body {
    flex-grow: 1; /* 1. Let main take all available space */
    padding: 0 10px;
    background-color: #333333;
    color: black;
  }

  .logo-header {
    float: left;
    width: 300px;
    text-align: center;
  }

  .header-right {
    float: right;
    display: flex;
    margin-right: 2%;
  }

  .logo-header a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Grey Qo", cursive;
    font-size: 50px;
  }

  .header-right {
    margin-top: 50px;
  }

  #cart-button {
    margin-right: 50px;
  }

  .page-footer {
    display: flex;
  }

  .footer-box-one {
    width: 500px;
    color: #ffffff;
  }

  .footer-box-one h1, .footer-box-two h1, .footer-box-three h1, .footer-box-four h1 {
    font-size: 30px;
    text-align: center;
  }
  
  .footer-box-one p, .footer-box-two a, .footer-box-three a, .footer-box-four a {
    font-size: 20px;
  }

  .footer-box-two a, .footer-box-three a, .footer-box-four a {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-box-two, .footer-box-three, .footer-box-four {
    width: 300px;
    text-align: center;
  }

  .footer-box-one {
    margin-left: 1%;
    margin-bottom: 40px;
  }