/*Menu Code */
#mymenu {
    width: 0;
  }
  
  .menubar {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    font-size:30px;
    cursor:pointer
  }
  
  .menubar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menubar a:hover {
    color: #f1f1f1;
  }
  
  .menubar {
    font-size: 20px;
    line-height: 22px;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #045d5d; /* 2. Same as header and footer, does not worj in codepen*/
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* 0. Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    background-color: #800000;
    padding: 10px;
  }
  
  main.page-body {
    flex-grow: 1; /* 1. Let main take all available space */
    padding: 0 10px;
    background-color: #333333;
    color: black;
  }

  .logo-header {
    float: left;
  }

  .header-right {
    float: right;
    display: flex;
  }

  .logo-header a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Grey Qo", cursive;
    font-size: 50px;
  }

  .header-right {
    margin-top: 50px;
  }

  .flex-menu {
    margin-right: 5%;
  }