.checked {
    color: orange;
  }

  .video-game-product-thing {
    background-color: #ffffff;
    width: 350px;
    border-radius: 20px;
  }

  .video-thing-photo img {
    width: 250px;
    height: 190px;
  }